<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hshc.upms.dao.security.DataPermissionMapper">
    
     <resultMap id="dataPermissionResultMap" type="securityDataPermission">
		<id property="id" column="id" />
		<id property="spDataCode" column="sp_data_code" />
		<id property="spDataName" column="sp_data_name" />
		<id property="spDataDescribe" column="sp_data_describe" />
		<id property="spDataRank" column="sp_data_rank" />
		<id property="isChecked" column="is_checked" />
	</resultMap>
	
	<select id="getRoleDataPermission" resultMap="dataPermissionResultMap">  
		select sdp.*,case when s.id is not null then 1 else 0 end is_checked
	 	from security_data_permission sdp 
	 	left join (select * from security_role_data_permission srdp where srdp.sr_id=#{srId}) s
			 on s.sdp_id=sdp.id
	</select>
</mapper>
